*{
  margin: 0;
  padding: 0;
}

html, body{
  font-family: "Motiva Sans", Sans-serif;
  background-color: #d5fbff;
  color: #647678;
}

#root{
  padding-top: 56px;
}
#preamble{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#submit-button{
  text-align: right;
}

#form-container{
  background-color: #59d8e6;
  padding: 20px;
  border-radius: 10px;
}
.form-table li{
  list-style: none;
}



@media (max-width: 576px) {
  #root{
    padding-top: 216px;
  }

  .row{
    display: flex;
    flex-direction: column;
  }
}
