/*
  #eeeff7   - white
  #d5fbff   - sky blue
  #9fbcbf   - light grey
  #647678   - grey
  #2f3738   - dark grey
  #59d8e6   - teal
*/
.container-fluid{
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Cabin', sans-serif;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}

#root{
  color: #2f3738;
  height:100%;
  padding-top: 56px;
}

#banner{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-image: url("../images/index.png");
  background-position: center top;
}

#title{
  font-size: 80px;
}

#descriptors{
  font-size: 40px;
}

#about{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background-color: #d5fbff;
}

.about-text{
  padding: 10px;
}

@media (max-width: 576px) {
  #root{
    padding-top: 216px;
  }
}
