#nav *{
    font-family: 'Cabin', sans-serif;
    color: #eeeff7;
}

#nav, .dropdown-menu{
  background-color: #2f3738;
}

#nav a{
  text-decoration: none;
}
#nav a:hover{
  opacity: 0.5;
}

.navbar{
  background-color: #2f3738;
}

.dropdown-menu{
  padding:0;
  margin: 0;
}

.dropdown-item:hover, .dropdown-item:active{
  background-color: #2f3738;
}
