#root{
  font-family: 'Cabin', sans-serif;
  color:#2f3738;
  padding-top:56px;
}

.teal{
  background-image: url("../images/index.png");
}

.sky-blue{
  background-color: #d5fbff;
}

.project-image{
  width: 250px;
  height: 250px;
  margin: 25px;
}
.project-text{
  padding: 15px;
  font-size: 20px;
}
.section-title{
  text-align: center;
  width: 100%;
  font-size: 40px;
  padding: 20px;
  border-top: 3px solid #252c2c;
  background-color: #647678;
  border-bottom: 3px solid #252c2c;
  color: #eeeff7;
}

@media (max-width: 576px) {
  #root{
    padding-top: 216px;
  }

  .media{
    display: flex;
    flex-direction: column;
  }

  .project-text{
    padding: 15px;
  }
}
