html, body{
  background-color: #eeeff7;
  font-family: "Motiva Sans", Sans-serif;
  margin: 0;
  color:#647678;
}

#root{
  padding-top: 56px;
}

#page-container{
  display: flex;
  flex-direction: row;
}
#navi header{
  padding: 5% 0;
}

#navi{
  position: fixed;
  margin-left: 0;
  background-color: #9fbcbf;
  height: 100%;
  width: 300px;
  font-size: 24px;
  border-right: 3px solid #2f3738;
  z-index: 0;
}

#navbar a, #navbar a:active,#navbar a:visited{
  text-decoration: none;
  color: #8e8e8e;
}

#navbar li{
  border-top:1px solid #2f3738;
  padding: 5% 0;
  margin: 1px 0;
  list-style: none;
 }

#navbar ul{
  margin: 0;
  padding: 0;
}

#navbar a:hover{
  color: #2f3738;
}

#documentation{
  background-color: white;
  padding-left: 3%;
  margin-left: 300px;
  height: 100%;
  min-width: 100%;
}

.main-section header{
  font-size: 24px;
}

.main-section p, .main-section ul{
  margin-left: 20px;
}

code{
  display: block;
  text-align: left;
  white-space: pre;
  min-width: 500px;
  background-color: #f2f2f2;
  margin: 0 500px 0 0;
}

@media only screen and (max-width: 1020px){
  #navi{
    visibility: hidden;
  }

  #documentation{
    margin-left: 0;
  }

}

@media (max-width: 576px) {
  #root{
    padding-top: 216px;
  }
}
