#root, #page{
  height: 100%;
}

#root{
  padding-top:56px;
}

body{
  padding:0;
  margin:0;
  background-color: #9fbcbf;
}

#toolbar{
  background-color: #2f3738;
  width: 100%;
  height: 10%;
}

#content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#editor{
  resize: none;
  outline: none;
  border: none;
}

#preview{
  background-color: white;
}

.window{
  width: 40%;
  height: 80%;
  border: 1px solid black;
  border-bottom:2px solid black;
}
.textBox{
  width: 100%;
  height: 95%;
  overflow-y: scroll;
}

.titlebar{
  min-height: 21px;
  font-size: 20px;
  border-bottom: 1px solid black;
  background-color: #647678;
}

.container{
  padding: 0;
}

.fullscreenWindow{
  width: 80%;
  height: 80%;
  border: 1px solid black;
  border-bottom:2px solid black;
}

#toolbar{
  display: flex;
  align-items: flex-start;
}

#toolbar button{
  height: 100%;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  width: 20%
}

button:focus{
  outline: none;
}
button:hover{
  opacity: 0.55;
}

@media (max-width: 1400px) {
 #content{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 100%;
 }

 .window{
   height: 40%;
   width: 80%;
 }
}

@media (max-width: 576px) {
  #root{
    padding-top: 216px;
  }
}
