*{
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  height: 100%;
  width:100%;
  justify-content: center;
  align-items: center;
  background-color:#647678;
  padding-top:56px;
}

#drum-machine{
  display: flex;
  flex-direction: row;
  width: 720px;
  height: 360px;
  margin: auto;
}

#panel{
  display: flex;
  flex-direction: column;
  background-color:#2f3738;
}

#display{
  display: flex;
  width:100%;
  height: 100%;
  align-self: center;
  background-color: #2f3738;
  justify-content: center;
  align-items: center;
}

#display-box{
  background-color: #d5fbff;
  border: 1px solid #9fbcbf;
  width: 130px;
  height: 20px;
}

.panel-row{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drum-pad{
  height: 100px;
  width: 100px;
  background-color: #d5fbff;
  margin: 10px;
  border: 2px solid #9fbcbf;
  border-radius: 5px;
}

Button{
  outline: none;
}

.drum-pad:hover{
  opacity: 0.5;
}

@media (max-width: 576px) {
  #root{
    padding-top: 216px;
  }
}
