*{
  padding: 0;
  margin: 0;
}

#root{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #647678;
  padding-top: 56px;
}
#calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  padding:10px;
  background-color: #9fbcbf;
}
#numberpad{
  padding: 0;
}

.col{
  padding:0;
}

#display{
  height: 10vh;
  font-size: 8vh;
  width: 97%;
  align-items: center;
  overflow-x:auto;
  overflow-y: hidden;
  padding-right: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #d5fbff;
  border: 1px solid #2f3738;
}
#pad{
  margin: 0;
}
#operationPad .row{
  float:right;
}
.padButton{
  height: 10vh;
}
 #root button{
  background-color: #647678;
  border: 1px solid #2f3738;
  margin: 2px;
}

@media (max-width: 576px) {
  #root{
    padding-top: 216px;
  }
}
